html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background: #fff;
  }
   span{
    animation: numberji 1s linear infinite;
  }
  @keyframes numberji{

    10%{
      text-shadow: 2px 3px 4px #000;
      color: rgb(38, 138, 25);
    }
  }
  .form input[type="number"] {
    width: 200px;
    padding: 5px;
    outline: none;
  }
  .form input[type="submit"]{
    padding: 5px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }