html{
    height: 100%;
 }
 body{
     margin: 10px;
     padding: 0px;
     font-family: sans-serif;
     background: #fff;
 } 
 .login-box{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 400px;
     padding: 20px;
     transform: translate(-50%, -50%);
     background: rgb(0, 0,5);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgb(0, 0,0,.6);
     border-radius: 10px;
 }
 .login-box h2{
     margin: 0 0 30px;
     padding: 0px;
     color: #fff;
     text-align: center;
 }
 .login-box .user-box input{
     width: 100%;
     padding: 10px 0;
     font-size: 10px;
     color: #fff;
     margin-bottom: 10px;
     border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     background: transparent;
 }
 .login-box .user-box label{
     top: 0px;
     left: 0px;
     padding: 10px 0;
     font-size: 16px;
     color: #fff;
     pointer-events: none;
 }
 #inscrire{
     padding: 10px;
     background: #333;
     color: #fff;
     border: none;
     border-radius: 10px;
 }
 #inscrire:hover{
     background: #101e30;
 }